{
    	#Uncomment to enable test mode
   	#acme_ca https://acme-staging-v02.api.letsencrypt.org/directory	
}



alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:3000
}

jellyfin.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:8096
}

requester.alexball.uk {
	redir http://jellyseerr.alexball.uk
}

sonarr.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:8989
}

radarr.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:7878
}

prowlarr.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:9696
}

qb.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:8080
}

bazarr.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:6767
}

storage.alexball.uk {
	reverse_proxy 192.168.1.211
}

audiobookshelf.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:13378
}

readarr.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:8787
}

glances.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:61208
}

portainer.alexball.uk {
	reverse_proxy {$SERVER_ADDRESS}:9000
}

#crafty.alexball.uk {
#  reverse_proxy https://127.0.0.1:8443 {
#        transport http {
#            tls
#            tls_insecure_skip_verify
#        }
#    }
#}

wizarr.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:5690
}

jellyseerr.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:5055
}

mealie.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:9925
}

lurker.alexball.uk {
  reverse_proxy localhost:3333
}

dumbpad.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:3756
}

dumbdrop.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:3757
}

dumbwhois.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:3758
}

dumbdo.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:3759
}

komga.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:25600
}

kapowarr.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:5656
}

ddns.alexball.uk {
  reverse_proxy localhost:8000
}

romm.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:4545
}

donetick.alexball.uk {
  reverse_proxy {$SERVER_ADDRESS}:2021
}